<?xml version="1.0" encoding="UTF-8"?>

		
<hibernate-configuration>
<session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">roopa</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SeveltExampleDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    	<!-- property name="hibernate.hbm2ddl.auto">create</property> -->
    	<!-- property name="hibernate.hbm2ddl.auto">update</property> -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	<property name="show_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        
        <!-- Enable query cache -->
        <property name="hibernate.cache.use_query_cache">true</property>

        <!-- Set cache provider -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
		
        <!-- Specify cache configuration file -->
<mapping class="com.seconlevelcache.SecondLevelCachingEg.SecondCache"/>
  <!-- property name="hibernate.format_sql">true</property> -->
    </session-factory>
</hibernate-configuration>

